<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<link rel="stylesheet" href="/static/main.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<title>Bubble Gum Cards</title>
	</head>
	<body>
		

		<main class="container">
			<header>
				<hgroup>
				<h1>Bubble Gum Cards API</h1>
				<h2>A curated set of the world's best baseball cards</h2>
				</hgroup>
			</header>
		<div class="content">
			<aside>
				<ul>
					<li><a href="#overview">Overview</a></a></li>
					<li><a href="#getting-started">Getting Started</a></a></li>
					<ul>
						<li><a href="#base">Base URL</a></a></li>
						<li><a href="#authentication">Authentication</a></a></li>
						<li><a href="#search">Search</a></a></li>
					</ul>
					<li><a href="#resources">Resources</a></a></li>
					<ul>
						<li><a href="#root">Root</a></a></li>
						<li><a href="#cards">Cards</a></a></li>	
						<li><a href="#manufacturers">Manufacturers</a></a></li>
						<li><a href="#players">Players</a></a></li>
						<li><a href="#teams">Teams</a></a></li>
						<li><a href="#categories">Categories</a></a></li>
					</ul>
						
				</ul>
			</aside>
			<div class="document">
				{{content|safe}}
			</div>
		</div>			
		</main>		
	</body>
</html>